
 <h1 class="text-style">140</h1>

  <p align="center">
   Designed and developed by<br/>
  
 <a href="http://chronus.com/"> <%= image_tag("chronus1.png", :alt => "140", :class => "round" ) %></a>
  </p>
